

{% include 'sitio/header.html' %}

<h3 class="display-6">Comics</h3>
<hr>
<div id="carouselId" class="carousel slide mb-3" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>.
        <li data-bs-target="#carouselId" data-bs-slide-to="3" aria-label="4 slide"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="4" aria-label="5 slide"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg" class="w-100 d-block" alt="First slide">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg" class="w-100 d-block" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg" class="w-100 d-block" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg" class="w-100 d-block" alt="4 slide">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg" class="w-100 d-block" alt="5 slide">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<h3 class="display-6">Mangas</h3>
<hr>
<div id="carouselId" class="carousel slide mb-3" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>.
        <li data-bs-target="#carouselId" data-bs-slide-to="3" aria-label="4 slide"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="4" aria-label="5 slide"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg" class="w-100 d-block" alt="First slide">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg" class="w-100 d-block" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg" class="w-100 d-block" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg" class="w-100 d-block" alt="4 slide">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg" class="w-100 d-block" alt="5 slide">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<h3 class="display-6">Tutoriales</h3>
<hr>
<div id="carouselId" class="carousel slide mb-3" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>.
        <li data-bs-target="#carouselId" data-bs-slide-to="3" aria-label="4 slide"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="4" aria-label="5 slide"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg" class="w-100 d-block" alt="First slide">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg" class="w-100 d-block" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg" class="w-100 d-block" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg" class="w-100 d-block" alt="4 slide">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg" class="w-100 d-block" alt="5 slide">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


{% include 'sitio/footer.html' %}

