<!doctype html>
<html lang="es">

<head>
  <title>Panel de Control v.1.0</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <nav class="navbar navbar-expand-lg text-ligth navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/admin/">Panel de Control</a>
          <button class="navbar-toggler hidden-lg-up" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation"></button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="/admin" aria-current="page">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/comics">Comics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/mangas">Mangas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/tutoriales">Tutoriales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/logout">Cerrar Sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Web</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container mt-5 pt-4"><!-- Se cierra en el footer.html -->
