{% include 'admin/header.html' %}

<div class="container">
  <h1 class="display-6">Listado de Mangas</h1>
  <div class="row">
    <div class="col-md-3 pb-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg"
          alt="Title"
        />
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pb-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg"
          alt="Title"
        />
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pb-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg"
          alt="Title"
        />
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pb-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://i.pinimg.com/564x/ee/f8/bf/eef8bf1bda8afffe8444e8a22f09be95.jpg"
          alt="Title"
        />
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'admin/footer.html' %}
